## Emulator and Spec Test ##


```
$ yarn test


  Link Preview Test
    ✔ should fetch site (417ms)
    ✔ should fetch site for specific fields (301ms)
    ✔ should fetch site and store into FireStore (717ms)

  Users collection CRUD
    ✔ should create, get, update user (49ms)
    ✔ should create, get, delete user


  5 passing (2s)


```

### User created
[<img src="https://github.com/sshtel/onloop-coding-task/blob/e3ae87bee14745d03153a814e11a7725765e097b/doc/fetch-and-store-emulator-user.png?raw=true">](github.com/sshtel)


### Learn Content
[<img src="https://github.com/sshtel/onloop-coding-task/blob/main/doc/fetch-and-store-emulator-learn_content.png?raw=true">](github.com/sshtel)